In [19]:
import pandas as pd
df = pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)
df['City'] = df['City'].str.strip(',').str.strip().str.lower()
my_districts = {
    'avondale': 'harare',
    'acturus': 'goromonzi',
    'arcturus': 'goromonzi',
    'bazel bridge': 'mutare',
    'beltbridge': 'beitbridge',
    'binbura': 'bindura',
    'birchenough': 'chimanimani',
    'birchnough bridge': 'chimanimani',
    'birchenough bridge': 'chimanimani',
    'beatrice':'seke',
    'biriiri': 'chimanimani',
    'biulawayo': 'bulawayo',
    'bocha': 'mutare',
    'bundura': 'bindura',
    'byo':'bulawayo',
    'budiriro' :'harare',
    'bulawawo': 'bulawayo',
    'bulaway0': 'bulawayo',
    'bulawayo': 'bulawayo',
    'bundura': 'bindura',
    'ntabazinduna': 'umguza',
    'chatsworth': 'gutu',
    'centinary': 'centenary',
    'charandura': 'chirumhanzu',
    'checheche': 'chipinge',
    'chibuwe': 'chipinge',
    'centinary': 'centenary',
    'chachacha': 'shurugwi',
    'chakari': 'chegutu',
    'chakohwa':'chimanimani',
    'chakonda': 'shamva',
    'charandura': 'chirumhanzu',
    'chirundu': 'mount darwin',
    'chadekera': 'hwange',
    'chtungwiza': 'seke',
    'chiwundura': 'gweru',
    'chiitungwiza': 'seke',
    'chirundu': 'mount darwin',
    'chihota': 'marondera',
    'chiota':'marondera',
    'chiredzo': 'chiredzi',
    'cross dete': 'hwange',
    'chivero': 'mazowe',
    'chtungwiza': 'seke',
    'chiundura': 'gweru',
    'chiwundura': 'gweru',
    'chikombedzi': 'chiredzi',
    'chikonohono' : 'chegutu',
    'chikwawa': 'mudzi',
    'chikwaka': 'mudzi',
    'chinamhora':'goromonzi',
    'chinyoro': 'chipinge',
    'chipadze': 'bindura',
    'chipangayi': 'chipinge',
    'chirundu': 'hurungwe',
    'chirumanzu': 'chirumhanzu',
    'concession': 'mazowe',
    'dete': 'hwange',
    'dandamera': 'mazowe',
    'darwedale': 'zvimba',
    'darwendale':'zvimba',
    'dema': 'mutoko',
    'donga': 'binga',
    'dorowa': 'gutu',
    'dotito': 'mount darwin',
    'chirumanzu' : 'chirumhanzu',
    'dangamvura': 'mutare',
    'domboshawa': 'goromonzi',
    'epworth': 'harare',
    'esigodini':'umzingwane',
    'plumtree': 'bulilimamangwe',
    'glandale': 'mazowe',
    'glendale':'mazowe',
    'greendale': 'harare',
    'queensdale': 'harare',
    'harae': 'harare',
    'herare': 'harare',
    'highlands': 'harare',
    'headlands': 'makoni',
    'howard': 'mazowe',
    'honde valley': 'mutasa',
    'hopley': 'harare',
    'inyanga': 'nyanga',
    'figtree': 'bulilimamangwe',
    'filabusi' : 'insiza',
    'glendale': 'mazowe',
    'goromonzi1':'goromonzi',
    'juliasdale': 'nyanga',
    'jerera': 'zaka',
    'juru':'goromonzi',    
    'kamutsenzere': 'mount darwin',
    'lower gweru': 'gweru',
    'lupane': 'bulawayo',
    'luthumba':'beitbridge',
    'mvuma':  'chirumhanzu',
    'mabvuku': 'harare',
    'machipisa': 'harare',
    'macheke': 'murehwa',
    'madziva': 'mount darwin',
    'madziwa': 'mount darwin',
    'magunje': 'hurungwe',
    'magaba': 'harare',
    'malbereign' : 'harare',
    'mazoe': 'mazowe',
    'mapinga': 'zvimba',
    'ngezi': 'mhondoro ngezi',
    'mhondoro': 'mhondoro ngezi',
    'mount hampden': 'harare',
    'mutasa': 'nyanga',
    'mt selinda': 'chipinge',
    'marirangwe' : 'seke',
    'mashava': 'chivi',
    'mashoko': 'bikita',
    'mukumbura': 'mount darwin',
    'mt darwin': 'mount darwin',
    'muzabarani': 'muzarabani',
    'mzarabani': 'muzarabani',
    'mahusekwa' : 'marondera',
    'manyame': 'seke',
    'maphisa': 'matobo',
    'majunje': 'buhera',
    'makuvatsine': 'norton',
    'marange': 'mutare',
    'mvurwi': 'mazowe',
    'odzi':'mutare',
    'nyika': 'bikita',
    'nzvimbo': 'mazowe',
    'penhalonga':'mutasa',
    'paybay test': 'harare',
    'suoguru': 'mazowe',
    'stapleford': 'mutasa',
    'nemamwa' :'bikita',
    'nembudziya': 'gokwe',
    'nenhowe': 'chimanimani',
    'neshuro': 'mwenezi',
    'sidakeni': 'kwekwe',
    'shangani': 'insiza',
    'shasha': 'chirumhanzu',
    'silobela': 'kwekwe',
    'southerton': 'harare',
    'nganga': 'nyanga',
    'ngundu': 'chivi',
    'nhakiwa': 'chimanimani',
    'nhedziwe': 'chimanimani',
    'kanhukamwe': 'mazowe',
    'norton': 'chegutu',
    'makuvatsine': 'chegutu',
    'kanyemba': 'mbire',
    'tsvingwe': 'mutasa',
    'tsungudzi': 'chimanimani',
    'triangle': 'chiredzi',
    'treawney': 'makonde',
    'tpspaybay': 'harare',
    'kazangarare': 'hurungwe',
    'kazungula': 'lupane',
    'kezi':'matobo',
    'kotwa': 'mudzi',
    'mhondoro': 'kadoma',
    'mhondoro ngezi': 'kadoma',
    'mnene': 'mberengwa',
    'mopani': 'chegutu',
    'mamina': 'kadoma',
    'kutama': 'kutama',
    'mandava': 'chirumhanzu',
    'mhangura': 'makonde',
    'mpandawna': 'gutu',
    'nhedziwa': 'chimanimani',
    'redcliff' : 'kwekwe',
    'lalapanzi':'chirumhanzu',
    'lions den': 'makonde',
    'selous': 'harare',
    'mrewa': 'bindura',
    'mtawatawa' : 'uzumba maramba pfungwe',
    'mutawatawa': 'uzumba maramba pfungwe',
    'uzumba': 'uzumba maramba pfungwe',
    'ump': 'uzumba maramba pfungwe',
    'mtoko': 'mutoko',
    'mubaira': 'chegutu',
    'murambinda': 'buhera',
    'murewa': 'murehwa',
    'musami': 'murehwa',
    'murombedzi' : 'zvimba',
    'mutorashanga' : 'zvimba',
    'rafingora' : 'zvimba',
    'redcliff': 'kwekwe', 
    'redcliff' : 'kwekwe', 
    'rose way': 'harare',
    'rusununguko': 'shurugwi',
    'rutenga' : 'mwenezi',
    'ruzawi': 'marondera',
    'ruwa': 'goromonzi',
    'selous': 'chegutu',
    'tengwe' : 'hurungwe',
    'torwood': 'kwekwe',
    'tynwald': 'harare',
    'tsvingwe': 'mutasa',
    'triangle': 'chiredzi',
    'sadza': 'chikomba',
    'sanyati': 'kadoma',
    'watsomba': 'mutasa',
    'vctoria falls': 'hwange',
    'vic falls': 'hwange',
    'vicfalls': 'hwange',
    'victoria  falls': 'hwange',
    'victoriafalls': 'hwange',
    'victotia falls': 'hwange',
    'victria falls': 'hwange',
    'wedza': 'hwedza',
    'zimbabwe': 'harare',
    'zvipani': 'hurungwe',
    'zhombe': 'kwekwe',
    '020-64632':'mutare',
    'ab chikomba' : 'marondera',
    'mdindo': 'harare',
    'no address' : 'harare',
    'norton' : 'mazowe',
    'nedziwa' : 'chimanimani',
    'redcliff kwekwe' : 'kwekwe',
    'rukweza': 'makoni',
    'mt hampden':'harare',
    'kutama': 'zvimba',    
    'bulawayyo': 'bulawayo',      
    'inyathi':  'hwange',
    'mucheke' : 'chivi',
    'rujeko': 'masvingo',
    'norton' : 'mazowe',
    'kutsaga': 'goromonzi',
    'nyamapanda':'mudzi',
    'hurugwe': 'hurungwe',
    'banket':'zvimba',
    'domboshava':'goromonzi',
    'hauna':'mutasa',
    'nyabira':'zvimba',
    'nyamhunga':'buhera',
    'raffingora': 'zvimba',
    'banket': 'zvimba',
    'rusape' : 'makoni',
    'chiweshe': 'mazowe',
    'city': 'harare',
    'nyazura': 'makoni',
    'gokwe south': 'gokwe',
    'gokwe north': 'gokwe',
    'karoi': 'hurungwe',
    'chinhoyi': 'makonde',
    'chitungwiza': 'seke',
    'victoria falls': 'hwange',
     'chivhu' : 'chikomba'
}     
df["City"].replace(my_districts, inplace=True)
df = df[['City', 'Address 3','Physical TId' , 'Terminal Id']]

#  districts and provinces 
df_prov = pd.read_excel(r'C:\Users\User\Downloads\list_of_district_of_zimbabwe-1661j.xlsx', usecols = [1,2])
df_prov['District'] = df_prov['District'].str.strip(',').str.strip().str.lower()
cities_raw = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')
cities_raw = cities_raw.iloc[:, 1:]

# cities_raw join df_city  on province
cities_raw.Province = cities_raw.Province.str.strip(',').str.strip().str.lower()

df_city = pd.read_excel(r'C:\Users\User\Documents\Kingdom University\covid19_mcnamara\data\raw\cities_zw.xlsx', usecols = [0,1,2,5])
df_city.admin_name = df_city.admin_name.str.strip(',').str.strip().str.lower()
geopandas = pd.merge(cities_raw, df_city, how='inner', left_on='Province', right_on = 'admin_name')

# write csv
geopandas.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\geopandas.csv', index = False)

In [37]:
df_PR = pd.read_csv(r'C:\Users\User\Documents\Kingdom University\covid19_mcnamara\data\raw\time_series_covid19_confir_by_Provin_ZWE.csv', usecols = [0,5,6])

In [38]:
df_PR

        Province/State        Lat       Long
0             bulawayo -20.150000  28.583330
1               harare -19.016920  29.152800
2           manicaland -19.000000  32.499998
3  mashonaland central -17.000000  31.000000
4     mashonaland east -17.499998  32.000000
5     mashonaland west -17.000000  29.499998
6             masvingo -21.000000  31.000000
7   matabeleland north -21.000000  29.499998
8   matabeleland south -21.000000  29.499998
9             midlands -19.000000  30.000000

In [20]:
df.shape

(39730, 4)

In [21]:
cities_raw.shape

(39730, 6)

In [23]:
df_city.shape

(19, 4)

In [24]:
df_city.head()

          city      lat      lng  admin_name
0       Harare -17.8292  31.0522      harare
1     Bulawayo -20.1667  28.5667    bulawayo
2  Chitungwiza -18.0000  31.1000      harare
3       Mutare -18.9728  32.6694  manicaland
4        Gweru -19.4580  29.8200    midlands

In [29]:
cities_raw = cities_raw.iloc[:, 1:]

In [11]:
geopandas.head()

,City,Address 3,Physical TId,Terminal Id,Province,District,city,lat,lng,admin_name
0,harare,SOUTHVIEW,3C469032,SBA13410,harare,harare,Harare,-17.8292,31.0522,harare
1,harare,SOUTHVIEW,3C469032,SBA13410,harare,harare,Chitungwiza,-18.0000,31.1000,harare
2,harare,HARARE,3C469802,SBA13349,harare,harare,Harare,-17.8292,31.0522,harare
3,harare,HARARE,3C469802,SBA13349,harare,harare,Chitungwiza,-18.0000,31.1000,harare
4,harare,CBD,0840050038,SQL18221,harare,harare,Harare,-17.8292,31.0522,harare

In [15]:
geopandas.drop_duplicates().shape

(73661, 10)

In [12]:
geopandas.shape

(73661, 10)

In [13]:
df.shape

(39730, 4)

In [27]:
cities_raw[cities_raw['District'].isna()]

Empty DataFrame
Columns: [City, Address 3, Physical TId, Terminal Id, Province, District]
Index: []

In [135]:
#df_adres = df[['City', 'Address 3','Address 2' , 'Terminal Id' ]]

In [134]:
#df_adres

In [17]:
df_city = pd.read_excel(r'C:\Users\User\Documents\Kingdom University\covid19_mcnamara\data\raw\cities_zw.xlsx', usecols = [0,1,2,5])

In [20]:
df_city.city = df_city.city.str.strip(',').str.strip().str.lower()
df_city.admin_name = df_city.admin_name.str.strip(',').str.strip().str.lower()

In [21]:
df_city

              city      lat      lng           admin_name
0           harare -17.8292  31.0522               harare
1         bulawayo -20.1667  28.5667             bulawayo
2      chitungwiza -18.0000  31.1000               harare
3           mutare -18.9728  32.6694           manicaland
4            gweru -19.4580  29.8200             midlands
5           kwekwe -18.9167  29.9833             midlands
6           kadoma -18.3500  29.9167     mashonaland west
7         masvingo -20.0744  30.8328             masvingo
8         chinhoyi -17.3500  30.2000     mashonaland west
9        marondera -18.1833  31.5500     mashonaland east
10         bindura -17.3000  31.3333  mashonaland central
11          hwange -18.3647  26.5000   matabeleland north
12      beitbridge -22.2167  30.0000   matabeleland south
13      zvishavane -20.3333  30.0333             masvingo
14  victoria falls -17.9333  25.8333   matabeleland north
15        redcliff -19.0333  29.7833             midlands
16        chiredzi -21.0496  31.6600             masvingo
17          gwanda -20.9450  29.0250   matabeleland south
18          lupane -18.9315  27.8070   matabeleland north

In [ ]:
df_provdf_city.city = df_city.city.str.lower()

In [ ]:
cities_Prep = pd.merge(cities_raw, df_city, how = 'left', left_on = 'province', right_on = 'admin_name')

In [ ]:
df_provdf_city.city = df_city.city.str.lower()

In [178]:
df["City"].replace(my_districts, inplace=True)

In [184]:
df['City'].value_counts()

harare      20043
bulawayo     3733
mutare       2136
masvingo     1783
gweru        1464
            ...
nkayi           4
mbire           3
matobo          3
umguza          3
lupane          2
Name: City, Length: 64, dtype: int64

In [101]:
df = df[['City', 'Address 3','Physical TId' , 'Terminal Id' ]]

In [102]:
df.head()

     City  Address 3 Physical TId Terminal Id
0  harare  SOUTHVIEW     3C469032    SBA13410
1  harare     HARARE     3C469802    SBA13349
2  mutare     MUTARE     3C025503    SBM57065
3  mutare       Odzi     3C022047    SBM51284
4  harare        CBD   0840050038    SQL18221

In [103]:
city =  df.iloc[:,1]

In [46]:
cities = df.groupby(["City"]).count()

In [106]:
df[df['City'] == 'gokwe north']

Empty DataFrame
Columns: [City, Address 3, Physical TId, Terminal Id]
Index: []

In [131]:
sorted(df.City.unique())

['Bulilimamangwe',
 'beitbridge',
 'bikita',
 'bindura',
 'binga',
 'buhera',
 'bulawayo',
 'centenary',
 'chegutu',
 'chikomba',
 'chimanimani',
 'chinhoyi',
 'chipinge',
 'chiredzi',
 'chirumhanzu',
 'chitungwiza',
 'chivhu',
 'chivi',
 'gokwe',
 'goromonzi',
 'guruve',
 'gutu',
 'gwanda',
 'gweru',
 'harare',
 'hurungwe',
 'hwange',
 'hwedza',
 'insiza',
 'kadoma',
 'kariba',
 'karoi',
 'kwekwe',
 'lupane',
 'makonde',
 'makoni',
 'marondera',
 'masvingo',
 'matobo',
 'mazowe',
 'mberengwa',
 'mbire',
 'mhondoro ngezi',
 'mount darwin',
 'mudzi',
 'murehwa',
 'mutare',
 'mutasa',
 'mutoko',
 'muzarabani',
 'mwenezi',
 'nkayi',
 'nyanga',
 'rushinga',
 'seke',
 'shamva',
 'shurugwi',
 'tsholotsho',
 'umguza',
 'umzingwane',
 'uzumba maramba pfungwe',
 'victoria falls',
 'zaka',
 'zvimba',
 'zvishavane']

In [ ]:
df['City'].value_counts()

In [23]:
import operator
sorted(my_districts.items(), key=operator.itemgetter(1))

[('plumtree', 'Bulilimamangwe'),
 ('figtree', 'Bulilimamangwe'),
 ('beltbridge', 'beitbridge'),
 ('luthumba', 'beitbridge'),
 ('mashoko', 'bikita'),
 ('nyika', 'bikita'),
 ('nemamwa', 'bikita'),
 ('binbura', 'bindura'),
 ('bundura', 'bindura'),
 ('chipadze', 'bindura'),
 ('mrewa', 'bindura'),
 ('donga', 'binga'),
 ('majunje', 'buhera'),
 ('murambinda', 'buhera'),
 ('nyamhunga', 'buhera'),
 ('biulawayo', 'bulawayo'),
 ('byo', 'bulawayo'),
 ('bulawawo', 'bulawayo'),
 ('bulaway0', 'bulawayo'),
 ('bulawayo', 'bulawayo'),
 ('lupane', 'bulawayo'),
 ('bulawayyo', 'bulawayo'),
 ('centinary', 'centenary'),
 ('chakari', 'chegutu'),
 ('chikonohono', 'chegutu'),
 ('makuvatsine', 'chegutu'),
 ('mopani', 'chegutu'),
 ('selous', 'chegutu'),
 ('mubaira', 'chegutu'),
 ('sadza', 'chikomba'),
 ('birchenough', 'chimanimani'),
 ('birchnough bridge', 'chimanimani'),
 ('birchenough bridge', 'chimanimani'),
 ('biriiri', 'chimanimani'),
 ('chakohwa', 'chimanimani'),
 ('nenhowe', 'chimanimani'),
 ('nhakiwa', 'chimanimani'),
 ('nhedziwe', 'chimanimani'),
 ('tsungudzi', 'chimanimani'),
 ('nhedziwa', 'chimanimani'),
 ('nedziwa', 'chimanimani'),
 ('treawney', 'chinhoyi'),
 ('checheche', 'chipinge'),
 ('chibuwe', 'chipinge'),
 ('chinyoro', 'chipinge'),
 ('chipangayi', 'chipinge'),
 ('mt selinda', 'chipinge'),
 ('chiredzo', 'chiredzi'),
 ('chikombedzi', 'chiredzi'),
 ('triangle', 'chiredzi'),
 ('charandura', 'chirumhanzu'),
 ('chirumanzu', 'chirumhanzu'),
 ('mvuma', 'chirumhanzu'),
 ('shasha', 'chirumhanzu'),
 ('mandava', 'chirumhanzu'),
 ('lalapanzi', 'chirumhanzu'),
 ('chtungwiza', 'chitungwiza'),
 ('chiitungwiza', 'chitungwiza'),
 ('manyame', 'chitungwiza'),
 ('mashava', 'chivi'),
 ('ngundu', 'chivi'),
 ('mucheke', 'chivi'),
 ('nembudziya', 'gokwe north'),
 ('acturus', 'goromonzi'),
 ('arcturus', 'goromonzi'),
 ('chinamhora', 'goromonzi'),
 ('domboshawa', 'goromonzi'),
 ('goromonzi1', 'goromonzi'),
 ('juru', 'goromonzi'),
 ('ruwa', 'goromonzi'),
 ('kutsaga', 'goromonzi'),
 ('domboshava', 'goromonzi'),
 ('chatsworth', 'gutu'),
 ('dorowa', 'gutu'),
 ('mpandawna', 'gutu'),
 ('chiwundura', 'gweru'),
 ('chiundura', 'gweru'),
 ('lower gweru', 'gweru'),
 ('avondale', 'harare'),
 ('budiriro', 'harare'),
 ('epworth', 'harare'),
 ('greendale', 'harare'),
 ('queensdale', 'harare'),
 ('harae', 'harare'),
 ('herare', 'harare'),
 ('highlands', 'harare'),
 ('hopley', 'harare'),
 ('mabvuku', 'harare'),
 ('machipisa', 'harare'),
 ('magaba', 'harare'),
 ('malbereign', 'harare'),
 ('mount hampden', 'harare'),
 ('paybay test', 'harare'),
 ('southerton', 'harare'),
 ('tpspaybay', 'harare'),
 ('rose way', 'harare'),
 ('tynwald', 'harare'),
 ('zimbabwe', 'harare'),
 ('mdindo', 'harare'),
 ('no address', 'harare'),
 ('mt hampden', 'harare'),
 ('city', 'harare'),
 ('tengwe', 'hurugwe'),
 ('chirundu', 'hurungwe'),
 ('magunje', 'hurungwe'),
 ('zvipani', 'hurungwe'),
 ('hurugwe', 'hurungwe'),
 ('cross dete', 'hwange'),
 ('dete', 'hwange'),
 ('inyathi', 'hwange'),
 ('victoria falls', 'hwange'),
 ('wedza', 'hwedza'),
 ('filabusi', 'insiza'),
 ('shangani', 'insiza'),
 ('mhondoro', 'kadoma'),
 ('mhondoro ngezi', 'kadoma'),
 ('mamina', 'kadoma'),
 ('sanyati', 'kadoma'),
 ('kazangarare', 'karoi'),
 ('sidakeni', 'kwekwe'),
 ('silobela', 'kwekwe'),
 ('redcliff', 'kwekwe'),
 ('torwood', 'kwekwe'),
 ('zhombe', 'kwekwe'),
 ('redcliff kwekwe', 'kwekwe'),
 ('kazungula', 'lupane'),
 ('mhangura', 'makonde'),
 ('lions den', 'makonde'),
 ('headlands', 'makoni'),
 ('rukweza', 'makoni'),
 ('rusape', 'makoni'),
 ('chihota', 'marondera'),
 ('chiota', 'marondera'),
 ('mahusekwa', 'marondera'),
 ('ruzawi', 'marondera'),
 ('ab chikomba', 'marondera'),
 ('rujeko', 'masvingo'),
 ('maphisa', 'matobo'),
 ('kezi', 'matobo'),
 ('chivero', 'mazowe'),
 ('concession', 'mazowe'),
 ('dandamera', 'mazowe'),
 ('glandale', 'mazowe'),
 ('glendale', 'mazowe'),
 ('howard', 'mazowe'),
 ('mazoe', 'mazowe'),
 ('mvurwi', 'mazowe'),
 ('nzvimbo', 'mazowe'),
 ('suoguru', 'mazowe'),
 ('kanhukamwe', 'mazowe'),
 ('norton', 'mazowe'),
 ('chiweshe', 'mazowe'),
 ('mnene', 'mberengwa'),
 ('kanyemba', 'mbire'),
 ('ngezi', 'mhondoro ngezi'),
 ('dotito', 'mount darwin'),
 ('kamutsenzere', 'mount darwin'),
 ('madziva', 'mount darwin'),
 ('madziwa', 'mount darwin'),
 ('mukumbura', 'mount darwin'),
 ('mt darwin', 'mount darwin'),
 ('chikwawa', 'mudzi'),
 ('chikwaka', 'mudzi'),
 ('kotwa', 'mudzi'),
 ('nyamapanda', 'mudzi'),
 ('macheke', 'murehwa'),
 ('murewa', 'murehwa'),
 ('musami', 'murehwa'),
 ('bazel bridge', 'mutare'),
 ('bocha', 'mutare'),
 ('dangamvura', 'mutare'),
 ('marange', 'mutare'),
 ('odzi', 'mutare'),
 ('020-64632', 'mutare'),
 ('honde valley', 'mutasa'),
 ('penhalonga', 'mutasa'),
 ('stapleford', 'mutasa'),
 ('tsvingwe', 'mutasa'),
 ('watsomba', 'mutasa'),
 ('hauna', 'mutasa'),
 ('dema', 'mutoko'),
 ('mtoko', 'mutoko'),
 ('muzabarani', 'muzarabani'),
 ('mzarabani', 'muzarabani'),
 ('neshuro', 'mwenezi'),
 ('rutenga', 'mwenezi'),
 ('inyanga', 'nyanga'),
 ('juliasdale', 'nyanga'),
 ('mutasa', 'nyanga'),
 ('nganga', 'nyanga'),
 ('beatrice', 'seke'),
 ('marirangwe', 'seke'),
 ('chakonda', 'shamva'),
 ('chachacha', 'shurugwi'),
 ('rusununguko', 'shurugwi'),
 ('ntabazinduna', 'umguza'),
 ('esigodini', 'umzingwane'),
 ('mtawatawa', 'uzumba_maramba_pfungwe'),
 ('mutawatawa', 'uzumba_maramba_pfungwe'),
 ('uzumba', 'uzumba_maramba_pfungwe'),
 ('ump', 'uzumba_maramba_pfungwe'),
 ('chadekera', 'victoria falls'),
 ('vctoria falls', 'victoria falls'),
 ('vic falls', 'victoria falls'),
 ('vicfalls', 'victoria falls'),
 ('victoria  falls', 'victoria falls'),
 ('victoriafalls', 'victoria falls'),
 ('victotia falls', 'victoria falls'),
 ('victria falls', 'victoria falls'),
 ('jerera', 'zaka'),
 ('darwedale', 'zvimba'),
 ('darwendale', 'zvimba'),
 ('mapinga', 'zvimba'),
 ('kutama', 'zvimba'),
 ('murombedzi', 'zvimba'),
 ('mutorashanga', 'zvimba'),
 ('rafingora', 'zvimba'),
 ('banket', 'zvimba'),
 ('nyabira', 'zvimba'),
 ('raffingora', 'zvimba')]

In [27]:
provinces = pd.DataFrame(my_districts.items(), columns=['district', 'province'])

In [48]:
cities.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\cities.csv', index = False)

In [ ]:

import pandas as pd
import numpy as np
Importing data
#df = pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)
df_prov = pd.read_excel(r'C:\Users\User\Downloads\list_of_district_of_zimbabwe-1661j.xlsx', usecols = [1,2])
df_city = pd.read_excel(r'C:\Users\User\Documents\Kingdom University\covid19_mcnamara\data\raw\cities_zw.xlsx', usecols = [0,1,2])
df_prov.District = df_prov.District.str.lower()


# df[['City','Merchant Id', 'Address 3','Physical TId' , 'Location', 'Terminal Id' ]
#df[['City', 'Address 3','Physical TId' , 'Terminal Id' ]]
## Categorical Analysis with POS Asset
df = pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)
df['City'] = df['City'].str.strip(',').str.strip().str.lower()
df  = df[['City','Physical TId' , 'Terminal Id' ]]


df["City"].replace(my_districts, inplace=True)


# Data ingestion
df_city.city = df_city.city.str.lower()
cities_raw = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')
cities_Prep = pd.merge(cities_raw, df_city, how='left', left_on='City', right_on='city')
# air_quality = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')
#df[cities_Prep['city'].notna()]
df[cities_Prep['city'].notna()].dropna() 
#estate_per_city = cities_Prep[['city', 'lat', 'lng']]
# writing data
#df.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\zimbabwe_prov.csv', index = False)
#estate_per_city.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\estate_per_city.csv', index = False)
# air_quality[air_quality['District'].notna()] # 36475 rows × 5 columns
#cities_Prep = pd.merge(air_quality, df_city, how='left', left_on='City', right_on='city')
#df[df['City']=='murehwa']
#d_f['New']=d_f[['A','B','C']].replace('None','').sum(1)


#import collections
#my_districts.keys()
#import operator
sorted(my_districts.items(), key=operator.itemgetter(1))
ordered_dict = collections.OrderedDict(sorted(my_districts.items()))
provinces = pd.DataFrame(my_districts.items(), columns=['district', 'province'])

#air_quality[air_quality['District'].isna()]
# Subsetting
cities_Prep[['city', 'lat', 'lng']]
df_city

In [143]:
df_prov = pd.read_excel(r'C:\Users\User\Downloads\list_of_district_of_zimbabwe-1661j.xlsx', usecols = [1,2])

In [144]:
df_prov['District'] = df_prov['District'].str.strip(',').str.strip().str.lower()

In [190]:
df_prov.shape

(62, 2)

In [191]:
df.shape

(39730, 4)

In [162]:
cities_raw

,Retailer Name,Merchant Id,Merchant Name,Address 1,Address 2,Address 3,City,Country,First Name,Last Name,...,SIM 2 Duplicates,Software Group,Warranty Status,Warranty Start Date,Warranty End Date,Warranty Batch,Notes,Currency,Province,District
0,%AIR ZIMBABWE,99988004GUVCHIP,TECH UPDATES,SIMON MAZ AND STONERIDGE,OPPOSITE BOKA,SOUTHVIEW,harare,Zimbabwe,NaN,NaN,...,NaN,Dummy Software Group,No Warranty,NaN,NaN,NaN,NaN,USD,Harare,harare
1,%AIR ZIMBABWE,99988004SARUMUZ,SIMUDZAI MUZIPASI,10 BRADFIELD SOUTVIEW SHOPS,WATERFALLS,HARARE,harare,Zimbabwe,SARUIDZAI,MUZIPASI,...,NaN,Dummy Software Group,No Warranty,NaN,NaN,NaN,NaN,USD,Harare,harare
2,A & E Enterprises,13073020ROYMUTR,A and E Enterprises Mutare,18Tembwe Street,MUTARE,MUTARE,mutare,Zimbabwe,R.,NaN,...,NaN,EcoCash & Payment,No Warranty,NaN,NaN,NaN,NaN,USD,Manicaland,mutare
3,A 1 Supermarket,11368000204ODZI,A 1 Supermarket Odzi,Riverside Business Centre,Odzi,Odzi,mutare,Zimbabwe,NaN,O Phiri,...,NaN,EcoCash & Payment,No Warranty,NaN,NaN,NaN,NaN,USD,Manicaland,mutare
4,A 1 Supermarket,21822104MISSERY,MISSERY MUBVUMBI,K1 GULF COMPLEX,CBD,CBD,harare,Zimbabwe,MISSERY,NaN,...,NaN,Payment Pilot,No Warranty,NaN,NaN,NaN,NaN,USD,Harare,harare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39725,Zvidozvevanhu,13056002OMUTARE,Zvidozvevanhu General Dealer,3120 Mpudzi bus Centre,NaN,NaN,mutare,Zimbabwe,Mr,Runesu,...,NaN,EcoCash & Payment,No Warranty,NaN,NaN,NaN,NaN,USD,Manicaland,mutare
39726,Zvidozvevanhu,130560062NVIMBO,Zvidozvevanhu,Stand No 156,Nzvimbo Business Centre,Nzvimbo,mazowe,Zimbabwe,NaN,NaN,...,NaN,EcoCash & Payment Pilot,No Warranty,NaN,NaN,NaN,NaN,USD,Mashonaland Central,mazowe
39727,Zvipani Cooperation,13059064MAGUNJE,Zvipani Cooperation Magunje,Zvipani Business Centre Box 85,Magunje,Magunje,karoi,Zimbabwe,Murambiwa,S,...,NaN,Payment,No Warranty,NaN,NaN,NaN,[2020-09-10 20:47:31] Closed collections accou...,USD,NaN,NaN
39728,Zvipani Cooperation,13059064MAGUNJE,Zvipani Cooperation Magunje,Zvipani Business Centre Box 85,Magunje,Magunje,karoi,Zimbabwe,Murambiwa,S,...,NaN,EcoCash & Payment Pilot,No Warranty,NaN,NaN,NaN,[2020-03-06 11:03:42] RECALLED BY ANESU ON 6MA...,USD,NaN,NaN
39729,Zviparu & Sons,13060076MTDARWN,Zviparu and Sons,Katarina School,Box 369,Mount Darwin,mount darwin,Zimbabwe,NaN,NaN,...,NaN,EcoCash & Payment Pilot,No Warranty,NaN,NaN,NaN,NaN,USD,Mashonaland Central,mount darwin

In [146]:
#sorted(df_prov['District'])

In [192]:
cities_raw = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')

In [197]:
cities_raw[cities_raw['District'].isna()]

,City,Address 3,Physical TId,Terminal Id,Province,District
152,victoria falls,VICTORIA FALLS,3C021476,SBM35067,NaN,NaN
536,victoria falls,NaN,3C468164,SBA28410,NaN,NaN
538,victoria falls,NaN,3C468335,SBA13681,NaN,NaN
541,victoria falls,NaN,3C469702,SBA28120,NaN,NaN
724,chivhu,NaN,3C469137,SBA09421,NaN,NaN
...,...,...,...,...,...,...
39439,victoria falls,Victoria falls,3C469640,SBM86974,NaN,NaN
39440,victoria falls,Victoria falls,3K239723,SBM51835,NaN,NaN
39563,chivhu,NaN,92923034,NaN,NaN,NaN
39665,victoria falls,NaN,3C023250,SBM49534,NaN,NaN
39712,victoria falls,Victoria Falls,68736500,SBM49499,NaN,NaN

In [176]:
cities_raw[cities_raw['District'].notna()]

,City,Address 3,Physical TId,Terminal Id,Province,District
0,harare,SOUTHVIEW,3C469032,SBA13410,Harare,harare
1,harare,HARARE,3C469802,SBA13349,Harare,harare
2,mutare,MUTARE,3C025503,SBM57065,Manicaland,mutare
3,mutare,Odzi,3C022047,SBM51284,Manicaland,mutare
4,harare,CBD,0840050038,SQL18221,Harare,harare
...,...,...,...,...,...,...
39725,mutare,NaN,3C021627,SBM25686,Manicaland,mutare
39726,mazowe,Nzvimbo,3C025609,SBM37732,Mashonaland Central,mazowe
39727,hurungwe,Magunje,3C469117,SBM08528,Mashonaland West,hurungwe
39728,hurungwe,Magunje,3K240190,SBM51985,Mashonaland West,hurungwe
39729,mount darwin,Mount Darwin,3C022736,SBM39219,Mashonaland Central,mount darwin

In [8]:
cities_raw.District.isna().sum()

0

In [173]:
cities_raw

,City,Address 3,Physical TId,Terminal Id,Province,District
0,harare,SOUTHVIEW,3C469032,SBA13410,Harare,harare
1,harare,HARARE,3C469802,SBA13349,Harare,harare
2,mutare,MUTARE,3C025503,SBM57065,Manicaland,mutare
3,mutare,Odzi,3C022047,SBM51284,Manicaland,mutare
4,harare,CBD,0840050038,SQL18221,Harare,harare
...,...,...,...,...,...,...
39725,mutare,NaN,3C021627,SBM25686,Manicaland,mutare
39726,mazowe,Nzvimbo,3C025609,SBM37732,Mashonaland Central,mazowe
39727,hurungwe,Magunje,3C469117,SBM08528,Mashonaland West,hurungwe
39728,hurungwe,Magunje,3K240190,SBM51985,Mashonaland West,hurungwe
39729,mount darwin,Mount Darwin,3C022736,SBM39219,Mashonaland Central,mount darwin

In [9]:
df_city = pd.read_excel(r'C:\Users\User\Documents\Kingdom University\covid19_mcnamara\data\raw\cities_zw.xlsx', usecols = [0,1,2])

In [10]:
df_city

              city      lat      lng
0           Harare -17.8292  31.0522
1         Bulawayo -20.1667  28.5667
2      Chitungwiza -18.0000  31.1000
3           Mutare -18.9728  32.6694
4            Gweru -19.4580  29.8200
5           Kwekwe -18.9167  29.9833
6           Kadoma -18.3500  29.9167
7         Masvingo -20.0744  30.8328
8         Chinhoyi -17.3500  30.2000
9        Marondera -18.1833  31.5500
10         Bindura -17.3000  31.3333
11          Hwange -18.3647  26.5000
12      Beitbridge -22.2167  30.0000
13      Zvishavane -20.3333  30.0333
14  Victoria Falls -17.9333  25.8333
15        Redcliff -19.0333  29.7833
16        Chiredzi -21.0496  31.6600
17          Gwanda -20.9450  29.0250
18          Lupane -18.9315  27.8070

In [ ]:
df = pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)

# POS APP

In [8]:
import pandas as pd

In [11]:
df_aug = pd.read_excel(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\pos_aug_raw.xlsx', index = FALSE)

NameError: name 'FALSE' is not defined

In [108]:
df_AUG_raw = pd.read_excel(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\pos_aug_raw.xlsx')

In [118]:
df_AUG = df_AUG_raw.copy()

In [119]:
df_AUG.shape

(8220, 15)

In [120]:
df_AUG =df_AUG.iloc[:, [1,9]]
#df_AUG =df_AUG.iloc[:, :11]

In [121]:
df_AUG.columns =df_AUG.columns.str.lower().str.strip(" ")

In [122]:
#df_AUG =df_AUG.iloc[:, [1,9]]

In [123]:
df_AUG.head()

   tech name comments
0  Nyaradzai      NaN
1  Nyaradzai      NaN
2  Nyaradzai      NaN
3  Nyaradzai      NaN
4  Nyaradzai      NaN

In [124]:
#df_AUG.comments.notna().sum()

In [125]:
#df_AUG.comments.isna().sum()

In [126]:
df_AUG[df_AUG.comments.notna()]

     tech name                   comments
94     RUVIMBO  -17.8281431,31.0404718,17
95     RUVIMBO  -17.8429067,31.0337581,17
96     RUVIMBO  -17.9731659,31.0652585,17
97     RUVIMBO  -17.9731659,31.0652585,17
98     RUVIMBO  -17.9731659,31.0652585,17
...        ...                        ...
7897     WENDY     -17.8661965,31.1913011
8008     FARAI  CONNECTING WELL NO ISSUES
8009     FARAI  CONNECTING WELL NO ISSUES
8010     FARAI  CONNECTING WELL NO ISSUES
8011     FARAI  CONNECTING WELL NO ISSUES

[3194 rows x 2 columns]

In [127]:
df_AUG_clean =df_AUG[df_AUG.comments.notna()]

In [128]:
df_AUG_clean.shape

(3194, 2)

In [129]:
#df_AUG.sort_values(by =['comments'])

In [130]:
df_AUG_clean.comments.to_list()

['-17.8281431,31.0404718,17',
 '-17.8429067,31.0337581,17',
 '-17.9731659,31.0652585,17',
 '-17.9731659,31.0652585,17',
 '-17.9731659,31.0652585,17',
 '-17.910735,30.9296068,14',
 '-17.7464073,31.0888654,15',
 '-18.0134984,31.0393624,13',
 '-19.3337492,30.4335744,17',
 '-17.8523161,31.0149032,17',
 '-17.8444449,31.1227447,17',
 '-17.8233339,31.0499256,17',
 '-17.831527,31.0469389,17',
 '-22.207714,29.9829363,17',
 '-20.0694739,30.8295852,17',
 '17.81987,31.06089',
 '17.89545,30.93585',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.15690,28.58467',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.77580,31.01221',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.91703,31.05768',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.14838,28.52987',
 '-17.8273761,31.0546671',
 '-17.8279184,31.0296257',
 '-16.5163522,28.8468296',
 '-17.8729154,31.0611252',
 '-17.8932139,30.9876689',
 '-17.8421749,31.1898655',
 '-17.8050202,31.1221083',
 '-17.8061052,31.0265739',
 '-20.271326,30.9309354',
 '-19.4544696,29.8127297',
 '-17.8300513,31.0602244',
 '-17.832864,31.0436552',
 '-17.8558486,31.0186102',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 ' MACHINE WORKING WELL',
 ' MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '20.15674,28.58545',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.15398,28.58732',
 '17.76733,31.00670',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.93682,25.83631',
 '20.07296,30.83415',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.15701,28.58690',
 '20.15701,28.58690',
 '20.15701,28.58690',
 '-17.8251941,31.0525171',
 '-17.8246712,31.0546992',
 '17.76063,31.08885',
 '17.83196.31.04274',
 '-17.8475297,31.1324359',
 '-17.9048133,30.9014726',
 '-17.8016578,31.0369932',
 '21.04402,31.67312',
 '20.07184,30.83455',
 '17.84462,31.11661',
 '21.04316.31.66992',
 '17.82229,31.09006',
 '17.83419.31.05237',
 'TERMINAL WORKING',
 'TERMINAL WORKING',
 'TERMINAL WORKING',
 'TERMINAL WORKING',
 'TERMINAL WORKING',
 'TERMINAL WORKING',
 'TERMINAL WORKING',
 '-17.8058287,31.0375125,17',
 '-17.7990139,31.0373281,17',
 '-17.7836769,31.1174165,17',
 '-21.0398024,31.6573619,14',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 'MACHINE WORKING WELL',
 '17.81987,31.06089',
 '17.89545,30.93585',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.15690,28.58467',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.77580,31.01221',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.91703,31.05768',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.14838,28.52987',
 '-17.823947355141364, 30.901898466214835',
 '-19.279748520566784, 30.52898743968884',
 '-17.819211956954625, 31.05670228585735',
 '-19.78900293891763, 30.120256896939466',
 '-17.89940447124194, 31.050062738948288',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-18.68726885389739, 32.63226978906953',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.82905016976158, 31.047244744548845',
 '-19.00367119692422, 29.796825952745557',
 '-17.82741620088037, 31.052445739227057',
 '-19.443826746327957, 29.79769086809653',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.827292459741397, 31.06443876806247',
 '-17.81769005471395, 30.940230741141832',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.746201239976866, 30.975582581554587',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.965855300537825, 30.981163315950962',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.941735104394667, 31.071340223887923',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-20.1739619211607, 28.517629681606635',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-20.087382210269755, 30.839674454616894',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.838723936449593, 31.181538968062632',
 '-17.760191580123628, 31.09014601223779',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.788208626551285, 31.12390110854345',
 '-20.20656079434982, 28.681136450924534',
 '-20.175481171091995, 28.58438659694813',
 '-17.62190682663895, 31.632283823881387',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.8275325,31.0622608',
 '17.8275376!4d31.0644495',
 '17.8318126,31.0452336,',
 '17.829086,31.0435808',
 '17.829086,31.0435808',
 '17.9946455,31.0414869',
 '17.8863911!4d31.111625',
 '17.8153865!4d31.03024',
 '17.8079621!4d31.0352458',
 '17.8587272!4d30.9436593',
 '17.8240527,31.1003396',
 '7.770422,31.0611853,',
 '17.6950412!4d31.108178',
 '17.8361552,31.0402394',
 '17.8091351,31.0733059,',
 '16.5640394!4d31.5786702',
 '7.8286771,31.0434161',
 '17.8320884,30.9122604',
 '20.1290037!4d28.7760234',
 '17.8120776,31.0405486',
 '17.8120776,31.0405486,',
 '17.8851127,30.9781127,',
 '18.9678056!4d32.6551467',
 '17.3708134,30.1649076',
 '7.8240578!4d31.1025283',
 '17.7978602!4d31.1266537',
 '17.8370766!4d31.042766',
 '17.8635438!4d31.062299',
 '17.8300277!4d31.0650174',
 '17.8419413!4d31.0426389',
 '17.8324014,31.0465638,',
 '17.9945992!4d31.0429189',
 '17.8591575!4d31.0129094',
 '17.8271832!4d31.0529267',
 '17.8622949!4d31.1138782',
 '17.8543859,30.9621872,',
 '-20.2021667,28.5113882',
 '17.8320223,31.0496104',
 '17.829161!4d31.052882',
 '25.7498064,28.1363999',
 '25.7498064,28.1364000',
 '17.8332465,31.0429663',
 '17.7676455,31.1090541',
 '17.8215723,31.047022,',
 '17.8215723,31.047022',
 '17.8215877!4d31.0492107',
 '17.7632419!4d29.8061864',
 '20.0994919,28.643339',
 '8.6037377!4d31.565844',
 '17.82714,30.9856566',
 '17.8900791,31.0673005',
 '17.8007419,30.9289365',
 '17.8276256,31.0502785,',
 '17.8276256,31.0502785',
 '-17.765688884500488, 31.02373301924897',
 '-17.857855161361574, 31.050369649072813',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '17.8072242!4d31.0781156',
 '17.8072242!4d31.0781157',
 '17.366667430.95',
 '-26.10751!4d28.231401',
 '-17.7919142,31.042515,17',
 '-17.7450231!4d31.0721137',
 '-17.7450231!4d31.0721138',
 '-17.7450231!4d31.0721137',
 '17.8180463!4d31.0625779',
 '17.8340428!4d31.0416188',
 '17.8291705,31.0435247,',
 '17.9191275,31.0240412,17',
 '18.4086171!4d32.9286112',
 '17.5983528!4d31.1695648',
 '17.5983783,31.1674003,1',
 '17.7814969!4d31.0319827',
 '17.7814969!4d31.0319827',
 '17.8316572,31.0429346,',
 '17.7675574!4d31.1351644',
 '17.8209468,30.9807298,',
 '17.8098572,31.0945214',
 '17.8832688,31.067185,',
 '17.825958,31.0532057,',
 '20.0858065!4d30.8105187',
 '17.8907239,31.0651895,1',
 '7.8907239,31.0651895,',
 '18.172838,30.6937003,',
 '-18.1326739,30.1400149,17',
 '18.1326739,30.1400149,17',
 '17.8318177!4d31.0474223',
 '17.8421,31.0672588,14',
 '-17.818203,31.0529932,1',
 '-17.8323479,31.0413243',
 '17.8421,31.0672588,14',
 '17.8245465,31.0949755',
 '17.8206564!4d31.0254191',
 '17.8206564!4d31.0254192',
 '17.7604828,31.0879144',
 '17.7604828,31.0879144,1',
 '17.8629961,30.9685676',
 '17.8628264,30.9685675,13',
 '17.838966!4d31.0424601',
 '17.7748853!4d31.0366554',
 '18.7979051!4d32.0912522',
 '-19.0136815,32.5827488',
 '17.8271781,31.050738,',
 '17.7798931!4d31.0543922',
 '17.5983783,31.1674003',
 '17.8207909,31.0373267',
 '17.8205558!4d31.1015547',
 '17.8561068!4d31.0372399',
 '17.8670561!4d31.1155209',
 '17.8670561!4d31.1155209',
 '17.8261372!4d31.0032596',
 '17.8268127!4d31.0280124',
 'not on google maps',
 '19.5172024!4d30.6949854',
 '-20.1467338!4d28.6169535',
 'not on google maps',
 'not on google maps',
 'not on google maps',
 '20.0729399!4d30.831479',
 '17.82971!4d31.0471133',
 '17.8273729,31.0429088,',
 '17.8273729,31.0429088,',
 '17.82848!4d31.0518148',
 '17.766968!4d31.1150968',
 '17.8273729,31.0429088,',
 '17.834759!4d31.0407248',
 '17.8196895!4d31.0590921',
 '20.1594733,28.5786441',
 '17.8533842!4d31.049242',
 '17.8172695!4d31.0414244',
 '17.8548188!4d31.031079',
 '7.8548137,31.0288903,',
 '20.1664791!4d28.610434',
 '17.8271832!4d31.0529267',
 '17.7452817!4d31.0721208',
 '17.80937!4d31.0974348',
 '17.7516488!4d31.0439852',
 '17.8307154!4d31.0452469',
 '17.8299902!4d31.047295',
 '17.8300423!4d31.0624019',
 '20.2026213,28.533933',
 '20.2026213,28.533934',
 'not on google maps',
 '17.81987,31.06089',
 '17.89545,30.93585',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.15690,28.58467',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.77580,31.01221',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.91703,31.05768',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '20.14838,28.52987',
 '-17.823947355141364, 30.901898466214835',
 '-19.279748520566784, 30.52898743968884',
 '-17.819211956954625, 31.05670228585735',
 '-19.78900293891763, 30.120256896939466',
 '-17.89940447124194, 31.050062738948288',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-18.68726885389739, 32.63226978906953',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.82905016976158, 31.047244744548845',
 '-19.00367119692422, 29.796825952745557',
 '-17.82741620088037, 31.052445739227057',
 '-19.443826746327957, 29.79769086809653',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.827292459741397, 31.06443876806247',
 '-17.81769005471395, 30.940230741141832',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.746201239976866, 30.975582581554587',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.965855300537825, 30.981163315950962',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.941735104394667, 31.071340223887923',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-20.1739619211607, 28.517629681606635',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-20.087382210269755, 30.839674454616894',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.838723936449593, 31.181538968062632',
 '-17.760191580123628, 31.09014601223779',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '-17.788208626551285, 31.12390110854345',
 '-20.20656079434982, 28.681136450924534',
 '-20.175481171091995, 28.58438659694813',
 '-17.62190682663895, 31.632283823881387',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 'MERCHANTS NOT ON GOOGLE MAPS',
 '17.8275325,31.0622608',
 '17.8275376!4d31.0644495',
 '17.8318126,31.0452336,',
 '17.829086,31.0435808',
 '17.829086,31.0435808',
 '17.9946455,31.0414869',
 '17.8863911!4d31.111625',
 '17.8153865!4d31.03024',
 '17.8079621!4d31.0352458',
 '17.8587272!4d30.9436593',
 '17.8240527,31.1003396',
 '7.770422,31.0611853,',
 '17.6950412!4d31.108178',
 '17.8361552,31.0402394',
 '17.8091351,31.0733059,',
 '16.5640394!4d31.5786702',
 '7.8286771,31.0434161',
 '17.8320884,30.9122604',
 '20.1290037!4d28.7760234',
 '17.8120776,31.0405486',
 '17.8120776,31.0405486,',
 '17.8851127,30.9781127,',
 '18.9678056!4d32.6551467',
 '17.3708134,30.1649076',
 '7.8240578!4d31.1025283',
 '17.7978602!4d31.1266537',
 '17.8370766!4d31.042766',
 '17.8635438!4d31.062299',
 '17.8300277!4d31.0650174',
 '17.8419413!4d31.0426389',
 '17.8324014,31.0465638,',
 '17.9945992!4d31.0429189',
 '17.8591575!4d31.0129094',
 '17.8271832!4d31.0529267',
 '17.8622949!4d31.1138782',
 '17.8543859,30.9621872,',
 '-20.2021667,28.5113882',
 '17.8320223,31.0496104',
 '17.829161!4d31.052882',
 '25.7498064,28.1363999',
 '25.7498064,28.1364000',
 '17.8332465,31.0429663',
 '17.7676455,31.1090541',
 '17.8215723,31.047022,',
 '17.8215723,31.047022',
 '17.8215877!4d31.0492107',
 '17.7632419!4d29.8061864',
 '20.0994919,28.643339',
 '8.6037377!4d31.565844',
 '17.82714,30.9856566',
 '17.8900791,31.0673005',
 '17.8007419,30.9289365',
 '17.8276256,31.0502785,',
 '17.8276256,31.0502785',
 '-17.765688884500488, 31.02373301924897',
 '-17.857855161361574, 31.050369649072813',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '17.8072242!4d31.0781156',
 '17.8072242!4d31.0781157',
 '17.366667430.95',
 '-26.10751!4d28.231401',
 '-17.7919142,31.042515,17',
 '-17.7450231!4d31.0721137',
 '-17.7450231!4d31.0721138',
 '-17.7450231!4d31.0721137',
 '17.8180463!4d31.0625779',
 '17.8340428!4d31.0416188',
 '17.8291705,31.0435247,',
 '17.9191275,31.0240412,17',
 '18.4086171!4d32.9286112',
 '17.5983528!4d31.1695648',
 '17.5983783,31.1674003,1',
 '17.7814969!4d31.0319827',
 '17.7814969!4d31.0319827',
 '17.8316572,31.0429346,',
 '17.7675574!4d31.1351644',
 '17.8209468,30.9807298,',
 '17.8098572,31.0945214',
 '17.8832688,31.067185,',
 '17.825958,31.0532057,',
 '20.0858065!4d30.8105187',
 '17.8907239,31.0651895,1',
 '7.8907239,31.0651895,',
 '18.172838,30.6937003,',
 '-18.1326739,30.1400149,17',
 '18.1326739,30.1400149,17',
 '17.8318177!4d31.0474223',
 '17.8421,31.0672588,14',
 '-17.818203,31.0529932,1',
 '-17.8323479,31.0413243',
 '17.8421,31.0672588,14',
 '17.8245465,31.0949755',
 '17.8206564!4d31.0254191',
 '17.8206564!4d31.0254192',
 '17.7604828,31.0879144',
 '17.7604828,31.0879144,1',
 '17.8629961,30.9685676',
 '17.8628264,30.9685675,13',
 '17.838966!4d31.0424601',
 '17.7748853!4d31.0366554',
 '18.7979051!4d32.0912522',
 '-19.0136815,32.5827488',
 '17.8271781,31.050738,',
 '17.7798931!4d31.0543922',
 '17.5983783,31.1674003',
 '17.8207909,31.0373267',
 '17.8205558!4d31.1015547',
 '17.8561068!4d31.0372399',
 '17.8670561!4d31.1155209',
 '17.8670561!4d31.1155209',
 '17.8261372!4d31.0032596',
 '17.8268127!4d31.0280124',
 'not on google maps',
 '19.5172024!4d30.6949854',
 '-20.1467338!4d28.6169535',

In [ ]:
df_AUG_clean.comments

In [140]:
df_AUG_clean.comments.str.strip(" ").replace('[^a-zA-Z0-9]', '').shape

(3194,)

In [143]:
df_AUG_clean.comments = df_AUG_clean.comments.str.strip().replace('!', ',').to_list()

C:\Users\User\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [145]:
df_AUG_clean.comments =df_AUG_clean.comments.str.strip().replace('[^a-zA-Z]', 'None').to_list()

In [152]:
df_AUG_clean = df_AUG_clean[df_AUG_clean['comments'].sort_values().notna()]

<ipython-input-152-7b5d52d4a89a>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_AUG_clean = df_AUG_clean[df_AUG_clean['comments'].sort_values().notna()]

In [153]:
df_AUG_clean.tail()

     tech name                   comments
7897     WENDY     -17.8661965,31.1913011
8008     FARAI  CONNECTING WELL NO ISSUES
8009     FARAI  CONNECTING WELL NO ISSUES
8010     FARAI  CONNECTING WELL NO ISSUES
8011     FARAI  CONNECTING WELL NO ISSUES

In [171]:
#df_AUG_clean.comments.str.strip().replace('[A-Z]', 'None').to_list()

In [172]:
#df_AUG_clean.comments.str.replace(r'[^\d.]+', '').to_list()

In [ ]:
df['B'] = df['B'].str.replace(r'[^\d.]+', '')

In [105]:
len(df_AUG_clean.comments.to_list())

3194

In [170]:
#df_AUG_clean['comment'].str.replace('^.*([A-Z][a-z]).*$', r'\1', regex=True)

In [168]:
#df_AUG_clean[~df_AUG_clean.comments.str.contains('[A-Za-z]', na=False) ]

In [169]:
#df_AUG_clean[df_AUG_clean.comments.str.contains('[A-Za-z]', na=False) ]

In [167]:
#df_AUG.columns.str.lower().str.strip(" ").replace(" ", "" )

In [166]:
df_AUG_clean= df_AUG_clean[~df_AUG_clean.comments.str.contains('[A-Za-z]', na=False) ]

In [174]:
df_AUG_clean.comments.to_list()

['-17.8281431,31.0404718,17',
 '-17.8429067,31.0337581,17',
 '-17.9731659,31.0652585,17',
 '-17.9731659,31.0652585,17',
 '-17.9731659,31.0652585,17',
 '-17.910735,30.9296068,14',
 '-17.7464073,31.0888654,15',
 '-18.0134984,31.0393624,13',
 '-19.3337492,30.4335744,17',
 '-17.8523161,31.0149032,17',
 '-17.8444449,31.1227447,17',
 '-17.8233339,31.0499256,17',
 '-17.831527,31.0469389,17',
 '-22.207714,29.9829363,17',
 '-20.0694739,30.8295852,17',
 '17.81987,31.06089',
 '17.89545,30.93585',
 '20.15690,28.58467',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.77580,31.01221',
 '17.91703,31.05768',
 '20.14838,28.52987',
 '-17.8273761,31.0546671',
 '-17.8279184,31.0296257',
 '-16.5163522,28.8468296',
 '-17.8729154,31.0611252',
 '-17.8932139,30.9876689',
 '-17.8421749,31.1898655',
 '-17.8050202,31.1221083',
 '-17.8061052,31.0265739',
 '-20.271326,30.9309354',
 '-19.4544696,29.8127297',
 '-17.8300513,31.0602244',
 '-17.832864,31.0436552',
 '-17.8558486,31.0186102',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '17.82084,31.03861',
 '20.15674,28.58545',
 '20.15398,28.58732',
 '17.76733,31.00670',
 '17.93682,25.83631',
 '20.07296,30.83415',
 '20.15701,28.58690',
 '20.15701,28.58690',
 '20.15701,28.58690',
 '-17.8251941,31.0525171',
 '-17.8246712,31.0546992',
 '17.76063,31.08885',
 '17.83196.31.04274',
 '-17.8475297,31.1324359',
 '-17.9048133,30.9014726',
 '-17.8016578,31.0369932',
 '21.04402,31.67312',
 '20.07184,30.83455',
 '17.84462,31.11661',
 '21.04316.31.66992',
 '17.82229,31.09006',
 '17.83419.31.05237',
 '-17.8058287,31.0375125,17',
 '-17.7990139,31.0373281,17',
 '-17.7836769,31.1174165,17',
 '-21.0398024,31.6573619,14',
 '17.81987,31.06089',
 '17.89545,30.93585',
 '20.15690,28.58467',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.77580,31.01221',
 '17.91703,31.05768',
 '20.14838,28.52987',
 '-17.823947355141364, 30.901898466214835',
 '-19.279748520566784, 30.52898743968884',
 '-17.819211956954625, 31.05670228585735',
 '-19.78900293891763, 30.120256896939466',
 '-17.89940447124194, 31.050062738948288',
 '-18.68726885389739, 32.63226978906953',
 '-17.82905016976158, 31.047244744548845',
 '-19.00367119692422, 29.796825952745557',
 '-17.82741620088037, 31.052445739227057',
 '-19.443826746327957, 29.79769086809653',
 '-17.827292459741397, 31.06443876806247',
 '-17.81769005471395, 30.940230741141832',
 '-17.746201239976866, 30.975582581554587',
 '-17.965855300537825, 30.981163315950962',
 '-17.941735104394667, 31.071340223887923',
 '-20.1739619211607, 28.517629681606635',
 '-20.087382210269755, 30.839674454616894',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.838723936449593, 31.181538968062632',
 '-17.760191580123628, 31.09014601223779',
 '-17.788208626551285, 31.12390110854345',
 '-20.20656079434982, 28.681136450924534',
 '-20.175481171091995, 28.58438659694813',
 '-17.62190682663895, 31.632283823881387',
 '17.8275325,31.0622608',
 '17.8318126,31.0452336,',
 '17.829086,31.0435808',
 '17.829086,31.0435808',
 '17.9946455,31.0414869',
 '17.8240527,31.1003396',
 '7.770422,31.0611853,',
 '17.8361552,31.0402394',
 '17.8091351,31.0733059,',
 '7.8286771,31.0434161',
 '17.8320884,30.9122604',
 '17.8120776,31.0405486',
 '17.8120776,31.0405486,',
 '17.8851127,30.9781127,',
 '17.3708134,30.1649076',
 '17.8324014,31.0465638,',
 '17.8543859,30.9621872,',
 '-20.2021667,28.5113882',
 '17.8320223,31.0496104',
 '25.7498064,28.1363999',
 '25.7498064,28.1364000',
 '17.8332465,31.0429663',
 '17.7676455,31.1090541',
 '17.8215723,31.047022,',
 '17.8215723,31.047022',
 '20.0994919,28.643339',
 '17.82714,30.9856566',
 '17.8900791,31.0673005',
 '17.8007419,30.9289365',
 '17.8276256,31.0502785,',
 '17.8276256,31.0502785',
 '-17.765688884500488, 31.02373301924897',
 '-17.857855161361574, 31.050369649072813',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '17.366667430.95',
 '-17.7919142,31.042515,17',
 '17.8291705,31.0435247,',
 '17.9191275,31.0240412,17',
 '17.5983783,31.1674003,1',
 '17.8316572,31.0429346,',
 '17.8209468,30.9807298,',
 '17.8098572,31.0945214',
 '17.8832688,31.067185,',
 '17.825958,31.0532057,',
 '17.8907239,31.0651895,1',
 '7.8907239,31.0651895,',
 '18.172838,30.6937003,',
 '-18.1326739,30.1400149,17',
 '18.1326739,30.1400149,17',
 '17.8421,31.0672588,14',
 '-17.818203,31.0529932,1',
 '-17.8323479,31.0413243',
 '17.8421,31.0672588,14',
 '17.8245465,31.0949755',
 '17.7604828,31.0879144',
 '17.7604828,31.0879144,1',
 '17.8629961,30.9685676',
 '17.8628264,30.9685675,13',
 '-19.0136815,32.5827488',
 '17.8271781,31.050738,',
 '17.5983783,31.1674003',
 '17.8207909,31.0373267',
 '17.8273729,31.0429088,',
 '17.8273729,31.0429088,',
 '17.8273729,31.0429088,',
 '20.1594733,28.5786441',
 '7.8548137,31.0288903,',
 '20.2026213,28.533933',
 '20.2026213,28.533934',
 '17.81987,31.06089',
 '17.89545,30.93585',
 '20.15690,28.58467',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.83475,31.04498',
 '17.77580,31.01221',
 '17.91703,31.05768',
 '20.14838,28.52987',
 '-17.823947355141364, 30.901898466214835',
 '-19.279748520566784, 30.52898743968884',
 '-17.819211956954625, 31.05670228585735',
 '-19.78900293891763, 30.120256896939466',
 '-17.89940447124194, 31.050062738948288',
 '-18.68726885389739, 32.63226978906953',
 '-17.82905016976158, 31.047244744548845',
 '-19.00367119692422, 29.796825952745557',
 '-17.82741620088037, 31.052445739227057',
 '-19.443826746327957, 29.79769086809653',
 '-17.827292459741397, 31.06443876806247',
 '-17.81769005471395, 30.940230741141832',
 '-17.746201239976866, 30.975582581554587',
 '-17.965855300537825, 30.981163315950962',
 '-17.941735104394667, 31.071340223887923',
 '-20.1739619211607, 28.517629681606635',
 '-20.087382210269755, 30.839674454616894',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.751310627503344, 31.048406681554674',
 '-17.838723936449593, 31.181538968062632',
 '-17.760191580123628, 31.09014601223779',
 '-17.788208626551285, 31.12390110854345',
 '-20.20656079434982, 28.681136450924534',
 '-20.175481171091995, 28.58438659694813',
 '-17.62190682663895, 31.632283823881387',
 '17.8275325,31.0622608',
 '17.8318126,31.0452336,',
 '17.829086,31.0435808',
 '17.829086,31.0435808',
 '17.9946455,31.0414869',
 '17.8240527,31.1003396',
 '7.770422,31.0611853,',
 '17.8361552,31.0402394',
 '17.8091351,31.0733059,',
 '7.8286771,31.0434161',
 '17.8320884,30.9122604',
 '17.8120776,31.0405486',
 '17.8120776,31.0405486,',
 '17.8851127,30.9781127,',
 '17.3708134,30.1649076',
 '17.8324014,31.0465638,',
 '17.8543859,30.9621872,',
 '-20.2021667,28.5113882',
 '17.8320223,31.0496104',
 '25.7498064,28.1363999',
 '25.7498064,28.1364000',
 '17.8332465,31.0429663',
 '17.7676455,31.1090541',
 '17.8215723,31.047022,',
 '17.8215723,31.047022',
 '20.0994919,28.643339',
 '17.82714,30.9856566',
 '17.8900791,31.0673005',
 '17.8007419,30.9289365',
 '17.8276256,31.0502785,',
 '17.8276256,31.0502785',
 '-17.765688884500488, 31.02373301924897',
 '-17.857855161361574, 31.050369649072813',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-18.01472277714618, 31.063051676383335',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '-17.710852881384056, 31.113052526328797',
 '17.366667430.95',
 '-17.7919142,31.042515,17',
 '17.8291705,31.0435247,',
 '17.9191275,31.0240412,17',
 '17.5983783,31.1674003,1',
 '17.8316572,31.0429346,',
 '17.8209468,30.9807298,',
 '17.8098572,31.0945214',
 '17.8832688,31.067185,',
 '17.825958,31.0532057,',
 '17.8907239,31.0651895,1',
 '7.8907239,31.0651895,',
 '18.172838,30.6937003,',
 '-18.1326739,30.1400149,17',
 '18.1326739,30.1400149,17',
 '17.8421,31.0672588,14',
 '-17.818203,31.0529932,1',
 '-17.8323479,31.0413243',
 '17.8421,31.0672588,14',
 '17.8245465,31.0949755',
 '17.7604828,31.0879144',
 '17.7604828,31.0879144,1',
 '17.8629961,30.9685676',
 '17.8628264,30.9685675,13',
 '-19.0136815,32.5827488',
 '17.8271781,31.050738,',
 '17.5983783,31.1674003',
 '17.8207909,31.0373267',
 '17.8273729,31.0429088,',
 '17.8273729,31.0429088,',
 '17.8273729,31.0429088,',
 '20.1594733,28.5786441',
 '7.8548137,31.0288903,',
 '20.2026213,28.533933',
 '20.2026213,28.533934',
 '17.8103623,31.0408178',
 '17.8119222,30.8594552,',
 '17.8271781,31.050738',
 '17.9030422,30.9487196',
 '17.8795053,31.0864896',
 '-18.176567357743934, 31.571348867890013',
 '-17.830247909838043, 31.045154194865475',
 '-17.830247909838043, 31.045154194865475',
 '-17.872439622290354, 31.09532543904711',
 '-18.18439551111216, 31.54869947726747',
 '-17.76063902573501, 30.97674775827304',
 '-17.824568525095106, 30.937512069735174',
 '-17.820937507113886, 31.041085467882052',
 '-17.824734573379025, 31.008331794865338',
 '-17.805578414989228, 31.03977629857081',
 '-18.176587744670396, 31.57138105439841',
 '-17.83133806530509, 31.07951185439077',
 '-17.800481392499297, 30.931060823700914',
 '-17.797653578148907, 31.148527120074533',
 '-17.81147973800312, 31.034732166028913',
 '-17.762991175836774, 30.977724130810262',
 '-17.867170621619312, 31.03124179393732',
 '-17.9015156996236, 31.23342545439228',
 '-17.836902964755044, 31.042733810210155',
 '-17.83239218654525, 31.04400495253782',
 '-17.805650729994767, 31.12569129301198',
 '50.86291423282659, -119.97254342222465',
 '-18.00795259965447, 31.072704740903095',
 '-17.793998476276048, 31.04424715438986',
 '-17.793998476276048, 31.04424715438986',
 '-17.824860311608223, 31.055213181373734',
 '-17.793998476276048, 31.04424715438986',
 '-17.793998476276048, 31.04424715438986',
 '-17.81764557490891, 31.047371125554267',
 '-17.811530810908963, 31.03479653904571',
 '-17.832901214096488, 31.05176996788227',
 '-17.830630337390527, 31.041604140899025',
 '-17.842404306124823, 31.04095030835739',
 '-20.150139974252863, 28.58515851503039',
 '-17.842404306124823, 31.04095030835739',
 '-17.820564964538537, 31.04353465253744',
 '-17.88140534606135, 30.79299396258531',
 '-20.37359857001907, 27.40433423687699',
 '-20.800536293020265, 30.798399324293285',
 '-17.83027940988866, 31.040611110210055',
 '53.42338668595576, -7.936306678974257',
 '-17.801990860999226, 31.045470910209346',
 '-17.818218418184433, 31.068493240898814',
 '-17.840964430068503, 31.042391629260532',
 '-16.051930147071857, 30.84310737783803',
 '-20.165263522468294, 28.514380023935658',
 '-17.768054212412927, 31.032997380997948',
 '-17.889796805560053, 31.218105668063735',
 '-17.327846340283575, 31.361283698735267',
 '-17.889796805560053, 31.218105668063735',
 '-17.84935620169852, 30.975015996898204',
 '-17.354795829890474, 30.198380943271157',
 '-17.363671070075114, 30.204507881547013',
 '-17.38894465654624, 30.18941039504144',
 '-16.81714661901872, 29.684072801071867',
 '-16.817064459038736, 29.684501954486212',
 '-19.268488056534345, 31.644573114617657',
 '-17.889745755116596, 31.21798765087479',
 '-17.889745755116596, 31.21798765087479',
 '-17.838897449713702, 31.042806469910193',
 '-17.83260395368956, 31.033007025733205',
 '-17.883873254383325, 30.994167810392863',
 '-18.978318937703886, 32.66720576439135',
 '-17.808797304875007, 31.095927996897355',
 '-16.659936081241604, 30.703396769884232',
 '-17.829334962550536, 31.046349714086745',
 '-18.544438895709472, 32.11841615458335',
 '-17.893536669347395, 30.93400275456976',
 '-17.82557541610003, 31.10175972388558',
 '-19.634840754758518, 31.16796999131038',
 '-17.82431655438866, 31.058526901644495',
 '-17.808797304875007, 31.095927996897355',
 '-17.751393337570082, 31.043985196896177',
 '-17.901748934192938, 30.980130252722503',
 '-17.901748934192938, 30.980130252722503',
 '-16.83738043671282, 29.42129395115843',
 '-16.838530549845576, 29.42764542169076',
 '-16.838530549845576, 29.427216268276418',
 '-16.810807159802167, 29.69308608153609',
 '-16.810786619123736, 29.693128996877522',
 '-16.81618721793, 29.70998985454839',
 '-16.81618721793, 29.70998985454839',
 '-16.81618721793, 29.70998985454839',
 '-20.142549355085823, 28.593051444859668',
 '-17.853560741098935, 31.04080694605613',
 '-17.808797304875007, 31.095927996897355',
 '-17.834084055511305, 30.93971489100973',
 '-17.82505579674252, 31.213501422948156',
 '-17.83261903386069, 31.04265845641614',
 '-17.026519300032536, 30.852601454095776',
 '-16.81818515510878, 29.684145611611438',
 '-18.173412484799798, 31.56747038156349',
 '-17.828224647414725, 31.051857712239116',
 '-17.799447467251255, 31.127041369909367',
 '-17.799447467251255, 31.127041369909367',
 '-17.799447467251255, 31.127041369909367',
 '-17.799447467251255, 31.127041369909367',
 '-17.799447467251255, 31.127041369909367',
 '-17.799447467251255, 31.127041369909367',
 '-17.810031597216486, 30.92336479689747',
 '-19.452288194411377, 29.81777964110887',
 '-17.887280191293243, 30.987830068063655',
 '-17.803512914107742, 31.04929291783952',
 '-17.83195545276026, 30.92238709689789',
 '-16.659771625593077, 30.703225108518495',
 '-20.309922227594445, 30.4312345359956',
 '-19.478657650465447, 29.835510079743678',
 '-17.829375089693087, 31.009145512239265',
 '-20.188850414840253, 32.62064899879586',
 '-20.188850414840253, 32.62064899879586',
 '-17.838778153575717, 31.04228598155657',
 '-17.838727088479075, 31.04229671039193',
 '-16.800720364959243, 29.697332435970385',
 '-19.893541071603565, 31.28186429694185',
 '-20.188850414840253, 32.62064899879586',
 '-17.82939551680614, 31.009038223885675',
 '-17.893444780474898, 30.933959839228333',
 '-20.110718973489938, 28.510957986942298',
 '-18.02273301556929, 31.08570979874936',
 '-17.879891248386446, 30.98197394005175',
 '-17.8362917,31.0385021',
 '-20.1512481,28.5822639',
 '-17.8058287,31.0375125',
 '-17.9276336,25.8356561',
 '-20.1562997,28.5808323',
 '-17.8208481,31.0551525',
 '-16.749395,30.7969093',
 '-17.7979836,30.9936082',
 '-17.8058287,31.0375125',
 '-17.8210879,31.0364247',
 '-18.9682542,32.6579743',
 '-17.7411856,31.1621805',
 '-20.1807214,28.5948425',
 '-20.149597,28.583366',
 '-17.8058287,31.0375125',
 '-20.1552279,28.5824248',
 '-17.4039557,32.2335223',
 '-17.8495545,31.0330199',
 '-20.1807214,28.5948425',
 '-17.8077166,31.0354367',
 '-20.3162466,30.0533966',
 '-20.0738042,30.8266295',
 '-20.0743921,30.8327907',
 '-21.0312595,31.4453387',
 '-17.8301812,31.0460174',
 '-17.8312922,31.0412544',
 '-17.8213711,31.0377247',
 '-18.9818545,32.6593987',
 '-18.9775231,32.6642663',
 '-17.8362566,31.0385049',
 '-17.8197054,31.042432',
 '-17.8241146,31.0419026',
 '-17.8328145,31.0491705',
 '-17.8320027,31.0463149',
 '-17.7494702,30.9699932',
 '-17.8345964,31.0875239',
 '-17.8058783,31.0374284',
 '-16.8209044,29.6866289',
 '-17.8104346,31.0941303',
 '-17.8362917,31.0385021',
 '-17.788239,31.1073755',
 '-17.8168327,31.0133844',
 '-17.29606673390538, 31.565179549263775',
 '-16.658414309552402, 30.70339660559118',
 '-17.852624006811936, 30.982058523702058',
 '-17.82888377201807, 30.913182200014088',
 '-17.837407450264383, 30.956460179982166',
 '-17.827596371523946, 30.914746407271103',
 '-17.827596371523946, 30.914746407271103',
 '-17.865301012066723, 31.01125148322764',
 '-17.715942507067016, 31.13326638322432',
 '-17.886142831743403, 30.93565160755651',
 '-17.874048747288963, 30.93780158322782',
 '-17.882078779945473, 30.993843639901094',
 '-17.82226566677928, 31.0736062525375',
 '-17.828720354578554, 30.913010538635945',
 '-17.834219702950218, 30.939626737193322',
 '-36.894475931720585, 174.94833723964402',
 '-18.019551110040478, 31.094856813920167',
 '-17.87395593614418, 30.936517081374962',
 '-17.825932912837242, 31.003377613915774',
 '-17.831441619150535, 31.04441104089909',
 '-17.86756124112683, 31.059073980855405',
 '-17.86756124112683, 31.059073980855405',
 '-17.86756124112683, 31.059073980855405',
 '-17.800502762140315, 31.02328676788166',
 '-17.86756124112683, 31.059073980855405',
 '-17.86756124112683, 31.059073980855405',
 '-17.86756124112683, 31.059073980855405',
 '-19.46577627083567, 29.749914117210988',
 '-17.747994612238326, 31.01568951683169',
 '-19.016815231831206, 29.778817125580083',
 '51.15380801157103, 0.2517388264788573',
 '-17.885979466910044, 30.93582326893465',
 '-18.017205944040985, 31.06288771021417',
 '-18.017205944040985, 31.06288771021417',
 '-17.841740120826085, 31.044133239046346',
 '-17.887035260199664, 31.041396452539008',
 '-18.17548266907503, 31.569757269742965',
 '-17.82980759023758, 31.044475840899015',
 '-17.793807607224213, 31.045106927406742',
 '-17.793807607224213, 31.045106927406742',
 '-17.987842312445927, 31.040282681377416',
 '-17.88356704676188, 30.979398999054236',
 '-17.88042997381371, 30.932533223702766',
 '-17.68546454114522, 25.909756079175335',
 '-17.966203842280546, 30.981589119477693',
 '-17.854556123952612, 31.110684827991925',
 '-17.8020518886249, 30.934135222998655',
 '-17.839383176374124, 30.94771072370177',
 '-17.900892383722788, 30.98913399463626',
 '-17.261121093082522, 32.249733166016725',
 '-17.87203449916038, 31.639310725555518',
 '27.045641295230524, 88.46052499863197',
 '-34.044806422944134, 150.810122866517',
 '-17.86571903245643, 31.05222526603015',
 '-17.83277028288237, 31.049198729086925',
 '-17.83277028288237, 31.049198729086925',
 '-17.833439308696757, 31.05464899020856',
 '-17.823444954449847, 31.04035722740739',
 '-17.933450475926048, 31.00655846603161',
 '-16.8110691,29.6909403',
 '-17.8297597,30.9589148',
 '-17.4470583,31.777813',
 '-17.4470583,31.777813',
 '-16.8156994,29.7163306',
 '-16.8110691,29.6909403',
 '-16.8156994,29.7163306',
 '-16.8156994,29.7163306',
 '-16.8110691,29.6909403',
 '-16.8200459,29.6863313',
 '-16.8156994,29.7163306',
 '-16.8156994,29.7163306',
 '-17.8344134,30.968951',
 '-18.9733185,32.6643186',
 '-16.8110691,29.6909403',
 '-16.8156994,29.7163306',
 '-16.8156994,29.7163306',
 '-20.0717718,30.8311648',
 '-16.8110691,29.6909403',
 '-16.8203319,29.6808174',
 '-16.8203319,29.6808174',
 '-17.7299625,31.094566',
 '-16.8203319,29.6808174',
 '-17.8332349,31.0472327',
 '-16.8162951,29.7077797',
 '-16.848758,29.4084193',
 '-16.8162951,29.7077797',
 '-16.8166126,29.6749747',
 '-17.8275436,31.029003',
 '-17.8332349,31.0472327',
 '-16.5270369,28.7754651',
 '-17.8691293,30.9266015',
 '-18.3802293,32.9295635',
 '-18.0316133,31.0754566',
 '18.0315666,31.0601356',
 '-17.8926528,30.9881247',
 '-16.749395,30.7969093',
 '-17.890027,30.9736384',
 '-17.8692981,31.0147731',
 '-17.8774295,31.0150576',
 '-17.8402026,31.1601825',
 '-17.855721,30.9661787',
 '-17.7981829,31.0928097',
 '-17.8306286,31.0437496',
 '-17.8557113,30.9878832',
 '-17.8058287,31.0375125',
 '-17.8028982,31.0359798',
 '-17.8986174,31.0018987',
 '-17.8058287,31.0375125',
 '-17.8608869,30.8950497',
 '-17.8341002,31.039428',
 '-17.8381587,31.0384055',
 '-17.9289412,30.979203',
 '-17.8358515,31.0426761',
 '-17.8058287,31.0375125',
 '-17.8058287,31.0375125',
 '-17.8058287,31.0375125',
 '-17.8172644,31.0392357',
 '-17.8476311,31.0754224',
 '-17.8058287,31.0375125',
 '-17.8338425,31.0410842',
 '-17.8058287,31.0375125',
 '-17.8058287,31.0375125',
 '-17.8986174,31.0018987',

In [ ]:
df_AUG_clean.comments.str.

In [176]:
pd.DataFrame(df_AUG_clean.comments.str.split(',',1).tolist(),
                                 columns = ['long','lat'])

             long            lat
0     -17.8281431  31.0404718,17
1     -17.8429067  31.0337581,17
2     -17.9731659  31.0652585,17
3     -17.9731659  31.0652585,17
4     -17.9731659  31.0652585,17
...           ...            ...
2230  -17.8493378     31.0481483
2231  -17.8297323     31.0481511
2232  -17.8205119     31.0448406
2233  -16.5185983     28.8082988
2234  -17.8661965     31.1913011

[2235 rows x 2 columns]

In [178]:
df_AUG_clean.comments.str.split(',',1, expand = True)

                0              1
94    -17.8281431  31.0404718,17
95    -17.8429067  31.0337581,17
96    -17.9731659  31.0652585,17
97    -17.9731659  31.0652585,17
98    -17.9731659  31.0652585,17
...           ...            ...
7891  -17.8493378     31.0481483
7894  -17.8297323     31.0481511
7895  -17.8205119     31.0448406
7896  -16.5185983     28.8082988
7897  -17.8661965     31.1913011

[2235 rows x 2 columns]

In [179]:
df_AUG_clean['long'], df_AUG_clean['lat'] = df_AUG_clean.comments.str.split(',', 1).str

<ipython-input-179-66def596a3dc>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df_AUG_clean['long'], df_AUG_clean['lat'] = df_AUG_clean.comments.str.split(',', 1).str
<ipython-input-179-66def596a3dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_AUG_clean['long'], df_AUG_clean['lat'] = df_AUG_clean.comments.str.split(',', 1).str

In [180]:
df_AUG_clean

     tech name                   comments         long            lat
94     RUVIMBO  -17.8281431,31.0404718,17  -17.8281431  31.0404718,17
95     RUVIMBO  -17.8429067,31.0337581,17  -17.8429067  31.0337581,17
96     RUVIMBO  -17.9731659,31.0652585,17  -17.9731659  31.0652585,17
97     RUVIMBO  -17.9731659,31.0652585,17  -17.9731659  31.0652585,17
98     RUVIMBO  -17.9731659,31.0652585,17  -17.9731659  31.0652585,17
...        ...                        ...          ...            ...
7891     WENDY     -17.8493378,31.0481483  -17.8493378     31.0481483
7894     WENDY     -17.8297323,31.0481511  -17.8297323     31.0481511
7895     WENDY     -17.8205119,31.0448406  -17.8205119     31.0448406
7896     WENDY     -16.5185983,28.8082988  -16.5185983     28.8082988
7897     WENDY     -17.8661965,31.1913011  -17.8661965     31.1913011

[2235 rows x 4 columns]

In [187]:
df_AUG_clean.long = df_AUG_clean.long.str.strip('-')

C:\Users\User\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [188]:
df_AUG_clean.long.head()

94    17.8281431
95    17.8429067
96    17.9731659
97    17.9731659
98    17.9731659
Name: long, dtype: object

In [189]:
df_AUG_clean.long.pad(width=1, side='left', fillchar='-')

TypeError: ffill() got an unexpected keyword argument 'width'

In [190]:
df_AUG_clean.long = ('-' + df_AUG_clean.long)

In [191]:
df_AUG_clean.head()

   tech name                   comments         long            lat
94   RUVIMBO  -17.8281431,31.0404718,17  -17.8281431  31.0404718,17
95   RUVIMBO  -17.8429067,31.0337581,17  -17.8429067  31.0337581,17
96   RUVIMBO  -17.9731659,31.0652585,17  -17.9731659  31.0652585,17
97   RUVIMBO  -17.9731659,31.0652585,17  -17.9731659  31.0652585,17
98   RUVIMBO  -17.9731659,31.0652585,17  -17.9731659  31.0652585,17

In [194]:
df_AUG_clean.shape

(2235, 4)

In [195]:
df_AUG_clean.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\august_pos_supports.csv', index = False)

In [196]:
df_AUG_raw.head()

,Date,TECH NAME,MERCHANT NAME,TID,PTID,JOB CARD NUMBER,DESCRIPTION OF SUPPORT CALL,STATUS OF SUPPORT CALL,MERCHANT CONTACTS,COMMENTS,GEO LOCATION,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,2021-08-02,Nyaradzai,choppiers cbd,C33034T1,53081103,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
1,2021-08-02,Nyaradzai,choppiers cbd,C33034T5,53081098,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
2,2021-08-02,Nyaradzai,choppiers cbd,C33034T7,53081051,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
3,2021-08-02,Nyaradzai,choppiers cbd,C33034T9,53080272,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
4,2021-08-02,Nyaradzai,CHOPPIES MKOBA,C33027T1,53081102,NaN,TI ACTIVATION,CLOSED,542251008,NaN,WORKING,NaN,NaN,NaN,NaN

In [197]:
df_AUG_raw.columns =df_AUG_raw.columns.str.lower().str.strip(" ")

In [198]:
df_AUG_raw.head()

,date,tech name,merchant name,tid,ptid,job card number,description of support call,status of support call,merchant contacts,comments,geo location,unnamed: 11,unnamed: 12,unnamed: 13,unnamed: 14
0,2021-08-02,Nyaradzai,choppiers cbd,C33034T1,53081103,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
1,2021-08-02,Nyaradzai,choppiers cbd,C33034T5,53081098,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
2,2021-08-02,Nyaradzai,choppiers cbd,C33034T7,53081051,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
3,2021-08-02,Nyaradzai,choppiers cbd,C33034T9,53080272,NaN,ACTIVATIONS,closed,542220492,NaN,CONNECTING WELL,NaN,NaN,NaN,NaN
4,2021-08-02,Nyaradzai,CHOPPIES MKOBA,C33027T1,53081102,NaN,TI ACTIVATION,CLOSED,542251008,NaN,WORKING,NaN,NaN,NaN,NaN

In [200]:
df_AUG_raw.iloc[:, :5]

           date  tech name        merchant name       tid       ptid
0    2021-08-02  Nyaradzai        choppiers cbd  C33034T1   53081103
1    2021-08-02  Nyaradzai        choppiers cbd  C33034T5   53081098
2    2021-08-02  Nyaradzai        choppiers cbd  C33034T7   53081051
3    2021-08-02  Nyaradzai        choppiers cbd  C33034T9   53080272
4    2021-08-02  Nyaradzai       CHOPPIES MKOBA  C33027T1   53081102
...         ...        ...                  ...       ...        ...
8215 2021-08-31  PRISCILLA            Easypath   SBA22583   3C469712
8216 2021-08-31  PRISCILLA  Peters Supermarkert  SQL74133  840030968
8217 2021-08-31  PRISCILLA   Gumutsha Madzikita  SQL81105  840087286
8218 2021-08-31  PRISCILLA       Nothando Nkomo  SQL86781  840023057
8219 2021-08-31  PRISCILLA         Masisa Inns   SQL18159  840048234

[8220 rows x 5 columns]

In [201]:
df_AUG_ra  = df_AUG_raw.iloc[:, :5]

In [216]:

df_FILE= pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)

In [217]:
#df_FILE.columns.str.lower().replace(" ", "_")

In [218]:
df_FILE.columns = df_FILE.columns.str.lower()

In [219]:
df_FILE.columns.to_list()

['retailer name',
 'merchant id',
 'merchant name',
 'address 1',
 'address 2',
 'address 3',
 'city',
 'country',
 'first name',
 'last name',
 'telephone 1',
 'telephone 2',
 'email',
 'merchant advisor',
 'mcc',
 'physical tid',
 'model',
 'pin pad',
 'part no',
 'serial no',
 'terminal id',
 'status',
 'location',
 'sim provider',
 'sim serial no.',
 'sim phone no.',
 'sim duplicates',
 'sim 2 provider',
 'sim 2 serial no.',
 'sim 2 phone no.',
 'sim 2 duplicates',
 'software group',
 'warranty status',
 'warranty start date',
 'warranty end date',
 'warranty batch',
 'notes',
 'currency']

In [220]:
df_FILE.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

In [221]:
df_FILE.columns.to_list()

['retailer_name',
 'merchant_id',
 'merchant_name',
 'address_1',
 'address_2',
 'address_3',
 'city',
 'country',
 'first_name',
 'last_name',
 'telephone_1',
 'telephone_2',
 'email',
 'merchant_advisor',
 'mcc',
 'physical_tid',
 'model',
 'pin_pad',
 'part_no',
 'serial_no',
 'terminal_id',
 'status',
 'location',
 'sim_provider',
 'sim_serial_no.',
 'sim_phone_no.',
 'sim_duplicates',
 'sim_2_provider',
 'sim_2_serial_no.',
 'sim_2_phone_no.',
 'sim_2_duplicates',
 'software_group',
 'warranty_status',
 'warranty_start_date',
 'warranty_end_date',
 'warranty_batch',
 'notes',
 'currency']

In [243]:
df_id = df_FILE.loc[:, ['retailer_name','terminal_id','physical_tid']]

In [245]:
df_id.head()

       retailer_name terminal_id physical_tid
0      %AIR ZIMBABWE    SBA13410     3C469032
1      %AIR ZIMBABWE    SBA13349     3C469802
2  A & E Enterprises    SBM57065     3C025503
3    A 1 Supermarket    SBM51284     3C022047
4    A 1 Supermarket    SQL18221   0840050038

In [270]:
df_AUG_ra.ptid

0        53081103
1        53081098
2        53081051
3        53080272
4        53081102
          ...
8215     3C469712
8216    840030968
8217    840087286
8218    840023057
8219    840048234
Name: ptid, Length: 8220, dtype: object

In [258]:
print(df_AUG_ra.tid.isna().sum())
print(df_AUG_ra.tid.notna().sum())

859
7361

In [253]:
df_AUG_ra.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

In [259]:
print(df_AUG_ra.ptid.isna().sum())
print(df_AUG_ra.ptid.notna().sum())

319
7901

In [265]:
#df_AUG_ra.join(df_id, on = ['tid','terminal_id'],  how ='left')

In [268]:
#df_AUG_ra.join(df_id, on=["ptid", "physical_tid"])

In [285]:
df_id.loc['terminal_id'] ='PP114202'

In [281]:
pd.merge(df_AUG_ra,df_id, how = 'inner', left_on="ptid", right_on = "physical_tid")

,date,tech_name,merchant_name,tid,ptid,retailer_name,terminal_id,physical_tid
0,2021-08-02,Nyaradzai,EASY GO GWERU,SBM44464,3C022001,Small Merchants,SBM44464,3C022001
1,2021-08-02,Nyaradzai,CHEPLAST INVESTMENTS,SBM32697,6C171483,Cheplast Inv,SBM32697,6C171483
2,2021-08-02,Godfrey,Choppies Entumbane,PP114202,3K239543,Choppies Conventional POS,PP114202,3K239543
3,2021-08-03,Godfrey,Choppies Entumbane,PP114202,3K239543,Choppies Conventional POS,PP114202,3K239543
4,2021-08-03,Godfrey,Choppies Entumbane,SBM79839,3K239543,Choppies Conventional POS,PP114202,3K239543
...,...,...,...,...,...,...,...,...
1790,2021-08-31,PAMELA,STEWARD BANK,NaN,3C025338,STEWARD BANK,3C025338,3C025338
1791,2021-08-31,PAMELA,STEWARD BANK,NaN,3C0225500,STEWARD BANK,ECU41163,3C0225500
1792,2021-08-31,PAMELA,STEWARD BANK,NaN,3C0242266,STEWARD BANK,NaN,3C0242266
1793,2021-08-31,PAMELA,STEWARD BANK,NaN,3K240305,STEWARD BANK,3K240305,3K240305
1794,2021-08-31,PAMELA,STEWARD BANK,NaN,3C023683,STEWARD BANK,3C023683,3C023683

In [278]:
df_prep_1 = pd.merge(df_AUG_ra,df_id, how = 'left', left_on="ptid", right_on = "physical_tid")

In [280]:
df_prep_1.sort_values(by = ['terminal_id'])

,date,tech_name,merchant_name,tid,ptid,retailer_name,terminal_id,physical_tid
2542,2021-08-12,PRISCA /ABENA,TAKUDZWA MUTENGA,SBM80966,3C020787,STEWARD BANK,3C020787,3C020787
8143,2021-08-31,PAMELA,STEWARD BANK,NaN,3C021132,STEWARD BANK,3C021132,3C021132
8145,2021-08-31,PAMELA,STEWARD BANK,NaN,3C021407,STEWARD BANK,3C021407,3C021407
8163,2021-08-31,PAMELA,STEWARD BANK,NaN,3C022057,STEWARD BANK,3C022057,3C022057
8162,2021-08-31,PAMELA,STEWARD BANK,NaN,3C022292,STEWARD BANK,3C022292,3C022292
...,...,...,...,...,...,...,...,...
8213,2021-08-31,PRISCILLA,Chipo Mudiwa,SQL18919,840066669,NaN,NaN,NaN
8216,2021-08-31,PRISCILLA,Peters Supermarkert,SQL74133,840030968,NaN,NaN,NaN
8217,2021-08-31,PRISCILLA,Gumutsha Madzikita,SQL81105,840087286,NaN,NaN,NaN
8218,2021-08-31,PRISCILLA,Nothando Nkomo,SQL86781,840023057,NaN,NaN,NaN
8219,2021-08-31,PRISCILLA,Masisa Inns,SQL18159,840048234,NaN,NaN,NaN

In [ ]:
df_prep_1['temp_ptid'] = df_prep_1['tid'] + df_prep_1['']

In [276]:
df_AUG_ra.shape

(8220, 5)

In [271]:
import pandas as pd
# create some timestamps for date column
i = pd.to_datetime(pd.date_range('20140601',periods=2))

#create two dataframes to merge
df = pd.DataFrame({'code': ['ABC','EFG'], 'date':i,'col1': [10,100]})
df2 = pd.DataFrame({'code': ['ABC','EFG'], 'date':i,'col2': [10,200]})

#merge on columns (default join is inner)
pd.merge(df, df2, on =['code','date'])

  code       date  col1  col2
0  ABC 2014-06-01    10    10
1  EFG 2014-06-02   100   200

In [272]:
df

  code       date  col1
0  ABC 2014-06-01    10
1  EFG 2014-06-02   100

In [273]:
df2

  code       date  col2
0  ABC 2014-06-01    10
1  EFG 2014-06-02   200